<div *ngIf='currentPark'>
    <h1>{{currentPark.parkName}}</h1>
    <ul>
        <li *ngFor='let ride of ridesList' (click)='selectRide(ride)'>
            {{ride.rideName}}
        </li>
    </ul>
    <div *ngIf='selectedRideList && selectedRideList.length > 0'>
        <h1>User Rides</h1>
        <ol>
            <li *ngFor='let ride of selectedRideList' (click)='deselectRide(ride)'>
                {{ride.rideName}}
            </li>
        </ol>
    </div>
    <div *ngIf='waitTimes'>
        <ol>
            <li *ngFor='let ride of waitTimes'>
                <app-chart [data]='ride'></app-chart>
            </li>
        </ol>
    </div>
    
</div>
<app-enter (buttonClick)='gatherWaitTimes($event)'></app-enter>